<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">saladbOwl</h1>
    </ion-header-bar>

    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <a ui-sref-active="active" ui-sref="app.map">Around you</a>
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                <a ui-sref-active="active" ui-sref="app.trucks">Trucks list<a/>
            </div>
        </div>
    </ion-content>

</ion-view>
